# Node stuff → wir wollen node_modules im Container bauen, aber package-lock.json WIRD gebraucht
node_modules
npm-debug.log
.env
.venv
.venv-wsl

# Git
.git
.gitignore

# Editor / OS Artefakte
.DS_Store
.idea
.vscode
Thumbs.db

# Data Migration
data-migration

# Build output
dist
