# ── Node
node_modules/
**/node_modules/

# Build Output
dist/
build/
astro-out/

# ── Python / Virtualenv
.venv-wsl/
.venv/
venv/
env/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
*.egg-info/
.eggs/

# ── Environment Files (niemals commiten)
.env
.env.*
!.env.example          # Vorlage darf rein

# ── System / Editor
.~*
.DS_Store
Thumbs.db
*.tmp
.vscode/
.idea/
*.swp
.AppleDouble
.LSOverride

# ── Docker / K8s
*.log
docker-compose.debug.yml
k8s/*.secret.yaml

# ── GitLab
.gitlab-ci-token
.gitlab-ci.env

