/*
colors:
blue:               #0000ff
light yellow:       #FFFFCC (used for href link target highlighting)
light orange:       #ffbc66 (used for Dozierende in Search)
light greenblue:    #66ffb2 (used for Veranstaltung in Search)
grey text:          rgba(var(--c-text-grey),1); or #888888
*/

/* --------------- Suche --------------- */
#such-ergebnisse { 
  margin-top: 40px;
}
.such-treffer {
  display: contents;
  line-height: 1em;
}
.such-treffer-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1.4rem 0.75rem; /* erster Wert = vertikal, zweiter = horizontal */
  align-items: start;
}

.such-treffer .pill {
  font-size: 0.75em;
  color: rgba(var(--c-text-grey),1);
}
.such-treffer .title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.such-treffer .title .title2 {
  font-size: 0.75em;
}
.such-treffer.dozierender .pill span,
.OptionInput--doz {
  border-bottom: 2px solid #ffbc66;
}
.such-treffer.veranstaltung .pill span,
.OptionInput--ver {
  border-bottom: 2px solid #66ffb2;
}
.such-treffer a {
  display: inline !important;          /* evtl. von Framework zurücksetzen */
  white-space: normal !important;      /* kein nowrap */
  word-break: break-word !important;   /* Fallback für ältere Browser */
  margin-left:0 !important; 
  padding-left: 0 !important;
}
.such-treffer a::before { 
  display:none !important; 
}


/* --------------- Link Target Highlighting --------------- */
.grautext { 
  color: rgba(var(--c-text-grey),1);
}
.target_highlight {
  background-color: #ffffcc;
  transition: background-color 1s ease-in-out;
}

.target_highlight.fade-out {
  background-color: transparent;
}


/* --------------- Abkürzungen --------------- */
.tbl_abk th {
  width:110px;
}


/* --------------- Links (Vorlesungsverzeichnis Liste, Dozierende Liste) --------------- */
.tab_doz a::before,
.tab_vv a::before {
  /*display:none !important;*/
}


/* --------------- Dozierende --------------- */
#abc-filter {
  justify-content: space-between;
  display:flex;
}
#abc-reset {
  margin-bottom: 20px;
  text-align:right;
  width:100%;
  color: rgba(var(--c-blue),1);
}
.abc-btn {
  margin: 0 !important;
  padding: 0 6px;
  border-width:1px;
  border-color: rgba(0,0,0,.08);
  border-style: solid;
  background-color: #f2f2f2;
}
.abc-btn.is-active {
  background-color: #ccccff;
  border-color: #555555;
}


/* --------------- Dozierende Detail --------------- */
.wiki-image {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
  display: block;
  float: right;
  margin: 0;
}


/* --------------- VV Detail --------------- */
.quelle {
    font-size:80%;
    margin-bottom:36px !important;
}