/*
colors:
blue:           #0000ff
light blue:     #ccccff (used for href link target highlighting)
light yellow:   #ffffcc (used for Dozierende in Search)
light green:    #ccffcc (used for Veranstaltung in Search)
grey text:      #888888
*/

/* --------------- Suche --------------- */
#such-ergebnisse { 
    margin-top: 40px;
}
.such-treffer { 
    margin-bottom: 0.55em; 
}
.such-treffer .pill{
    margin-right: 4px;
    padding: 2px 4px;
    font-size: 0.75em;
}

.label-dozierender-pill::before,
.label-veranstaltung-pill::before {
    left: 6px;
}

.such-treffer.dozierender .pill,
.OptionInput--doz {
    background-color: #ffffcc;
}
.such-treffer.veranstaltung .pill,
.OptionInput--ver {
    background-color: #ccffcc;
}

.OptionInput--doz,
.OptionInput--ver {
    padding-right: 6px;
}

.such-treffer a {
  display: inline !important;          /* evtl. von Framework zurücksetzen */
  white-space: normal !important;      /* kein nowrap */
  word-break: break-word !important;   /* Fallback für ältere Browser */
  margin-left:0.2em !important; 
  padding-left: 0 !important;
}
.such-treffer a::before { display:none !important; }


/* --------------- Link Target Highlighting --------------- */
.grautext { color: #888888; }
.target_highlight {
  background-color: #ccccff;
  transition: background-color 1s ease-in-out;
}

.target_highlight.fade-out {
  background-color: transparent;
}


/* --------------- Abkürzungen --------------- */
.tbl_abk th {
  width:110px;
}


/* --------------- Links (Vorlesungsverzeichnis Liste, Dozierende Liste) --------------- */
.tab_doz a::before,
.tab_vv a::before {
  /*display:none !important;*/
}


/* --------------- Dozierende --------------- */
#abc-filter {
  justify-content: space-between;
  display:flex;
}
#abc-reset {
  margin-bottom: 20px;
  text-align:right;
  width:100%;
  color: rgba(var(--c-blue),1);
}
.abc-btn {
  margin: 0 !important;
  padding: 0 6px;
  border-width:1px;
  border-color: rgba(0,0,0,.08);
  border-style: solid;
  background-color: #f2f2f2;
}
.abc-btn.is-active {
  background-color: #ccccff;
  border-color: #555555;
}


/* --------------- Dozierende Detail --------------- */
.wiki-image {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
  display: block;
  float: right;
  margin: 0;
}


/* --------------- VV Detail --------------- */
.quelle {
    font-size:80%;
    margin-bottom:36px !important;
}