---
import { loadCsv } from '~/lib/loadCsv.js';

const dozenten = loadCsv('/data/tbl_dozenten.csv')
  .filter((d) => d.id_dozent?.trim() !== '')
  .sort((a, b) => a.nachname.localeCompare(b.nachname));
---

<h1>Dozierende</h1>

<ul>
  {dozenten.map((d) => (
    <li>
      <a href={`/dozenten/${d.id_dozent}.html`}>
        {d.nachname}, {d.vorname}
      </a>
    </li>
  ))}
</ul>
