---
export interface Props {
  message?: string
  linkHref?: string
  linkText?: string
}
const { message = "Seite nicht gefunden.", linkHref = "/", linkText = "Zur Startseite" } = Astro.props;
---
<main style="text-align:center; margin-top:5rem;">
  <h1>404</h1>
  <p>{message}</p>
  <a href={linkHref}>{linkText}</a>
</main>
