---
---
<!-- component: Intro -->
<section class="Intro">
    <div class="Intro--inner">
        <div class="Intro--top">
            <h1 class="Intro--title richtext"><slot /></h1>
            <slot name="lead" />
        </div>
    </div>
</section>
<!-- /component: Intro -->

