---
---
<!-- component: ContentArea -->
<section class="ContentArea">

    <!-- component: TextImage -->
    <div class="TextImage">

        <div class="TextImage--inner">
            <div class="TextImage--content richtext">
            
                <slot />
            
            </div>
            <div class="TextImage--topLink">
                <!-- component: Link -->
                <a class="Link layout-standalone size-copy-xs icon-orientation-up" href="#top">
                    Top
                    <span class="Link--icon">
                        <!-- component: Icon -->
                        <span class="Icon" data-name="16--link-internal">
                            <svg>
                                <use xlink:href="#16--link-internal">
                                </use>
                            </svg>
                        </span>
                        <!-- /component: Icon -->
                    </span>
                </a>
                <!-- /component: Link -->
            </div>
        </div>
    </div>
    <!-- /component: TextImage -->

</section>
<!-- /component: ContentArea -->