---
---
<!-- component: ContentArea -->
<section class="ContentArea">
    <div class="MasonryGridWrapper">
        <div class="MasonryGrid js-MasonryGrid">
            <slot />
        </div>
    </div>
</section>
<!-- /component: ContentArea -->