---
---
<!-- component: Intro -->
<section class="Intro">
    <div class="Intro--inner">
        <div class="Intro--top">
            <h1 class="Intro--title">
                <slot />
            </h1>
            <div class="Intro--text">
                <p>
                    <slot name="lead" />
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /component: Intro -->

