---
---
<!-- component: ContentArea -->
<section class="ContentArea">

    <!-- component: TextImage -->
    <div class="TextImage">

        <div class="TextImage--inner">
            
            <slot />
            
        </div>
    </div>
    <!-- /component: TextImage -->

</section>
<!-- /component: ContentArea -->