---
---
<!-- component: SectionNavigation -->
<section class="SectionNavigation">
    <h2 class="visuallyhidden">Bereichs-Navigation</h2>
    <div class="SectionNavigation--card">
        <ul class="SectionNavigation--linkList">
            <slot />
        </ul>
    </div>
</section>
<!-- /component: SectionNavigation -->