<!DOCTYPE html>
<html lang="de" data-template="st01">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.uzh.ch/static/magnolia/assets/css/main.css">
    <link rel="stylesheet" href="/assets/histvv-custom.css?2025-06-18">
    <link rel="modulepreload" href="https://www.uzh.ch/static/magnolia/assets/js/ui.mjs">
    <link rel="preload" href="https://www.uzh.ch/static/magnolia/assets/fonts/WOFF2/SourceSans3-Regular.otf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.uzh.ch/static/magnolia/assets/fonts/WOFF2/SourceSans3-Semibold.otf.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <slot name='head' />
    
    <script>
        window.app_config = {
            language: 'de'
        };
    </script>
    
    
</head>

<body class="template-st01">
<!-- component: Header -->
<header class="Header js-Header">
    <p class="visuallyhidden" aria-level="1" role="heading">Navigation auf uzh.ch</p>
    <div class="Header--top">
        <div class="Header--logo">
            <!-- component: Logo -->
            <a class="Logo" href="http://www.uzh.ch">
                <img src="/assets/uzh_logo.svg" alt="Universität Zürich" width="208" height="92">
            </a>
            <!-- /component: Logo -->
        </div>
        <div class="Header--mobileButtons">
            <a class="Header--search" href="/node/pages/dummy/zora-content.html">
                <span class="visuallyhidden">Suche</span>
                <!-- component: Icon -->
                <span class="Icon" data-name="24--search">
                    <svg>
                        <use xlink:href="#24--search">
                        </use>
                    </svg>
                </span>
                <!-- /component: Icon -->
            </a>
            <button class="Header--burger js-Header--burger" type="button" aria-controls="main-nav" aria-expanded="false">
                <span class="visuallyhidden">Navigation öffnen/schliessen</span>
                <span class="Header--burger--open">
                    <!-- component: Icon -->
                    <span class="Icon" data-name="24--menu">
                        <svg>
                            <use xlink:href="#24--menu">
                            </use>
                        </svg>
                    </span>
                    <!-- /component: Icon -->
                </span>
                <span class="Header--burger--close">
                    <!-- component: Icon -->
                    <span class="Icon" data-name="24--close">
                        <svg>
                            <use xlink:href="#24--close">
                            </use>
                        </svg>
                    </span>
                    <!-- /component: Icon -->
                </span>
            </button>
        </div>
        <h2 class="Header--department">
            <a class="Header--department--link" href="https://www.histvv.uzh.ch/">UZH Archiv</a>
            <a class="Header--subDepartment--link" href="https://www.histvv.uzh.ch/">Historische Vorlesungsverzeichnisse der Universität Zürich</a>
        </h2>
    </div>
    <div class="Header--bottom js-Header--bottom">
        <div class="Header--bottom--inner">
            <!-- component: MainNav -->
            <div class="MainNav js-MainNav" id="main-nav" data-mode="static">
                <div class="MainNav--service js-Header--service">
                    <!-- component: ServiceNav -->
                    <h2 class="visuallyhidden">Quicklinks und Sprachwechsel</h2>
                    <nav class="ServiceNav">
                        <ul class="ServiceNav--list">
                            <li class="ServiceNav--list--item">
                                <a class="ServiceNav--link" href="">Home</a>
                            </li>
                            <li class="ServiceNav--list--item">
                                <a class="ServiceNav--link" href="">Kontakt</a>
                            </li>
                            <!--<li class="ServiceNav--list--item">
                                <a class="ServiceNav--link" href="">English</a>
                            </li>-->
                        </ul>
                    </nav>
                    <!-- /component: ServiceNav -->
                    <!-- component: SearchTrigger -->
                    <a class="SearchTrigger" href="../../../pages/tt02/tt02_search.html">
                        <!-- component: Icon -->
                        <span class="Icon" data-name="24--search">
                            <svg>
                                <use xlink:href="#24--search"></use>
                            </svg>
                        </span>
                        <!-- /component: Icon -->
                        <span class="text">Suche</span>
                    </a>
                    <!-- /component: SearchTrigger -->
                </div>
                <h2 class="visuallyhidden">Haupt-Navigation</h2>
                <nav class="MainNav--inner">
                    <ul class="MainNav--list js-MainNav--list">
                        <!-- Begin: loop through top-level items--> 
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item is-active">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/vv/">Vorlesungsverzeichnisse</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/dozierende/">Dozierende</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/benutzungshinweise/">Benutzungshinweise</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/suche/">Veranstaltungssuche</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/abkuerzungen/">Abkürzungen</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                        <!-- component: MainNav--item -->
                        <li class="MainNav--list--item js-MainNav--item">
                            <!-- Button if there are subitems, link if there aren't-->
                            <!-- component: MainNav--link -->
                            <a class="MainNav--link js-MainNav--link" href="/buchausgabe/">Buchausgabe</a>
                            <!-- /component: MainNav--link -->
                        </li>
                        <!-- /component: MainNav--item -->
                        
                    <!-- End: loop through top-level items-->
                    </ul>
                    
                    <!-- Begin: empty container for items that don't fit viewport-->
                    <!-- Must always be there, items are added via JS-->
                    <ul class="MainNav--list more js-MainNav--more">
                        <li class="MainNav--list--item js-MainNav--item more">
                            <button class="MainNav--link js-MainNav--link" aria-controls="main-nav_overlay_uid-48" aria-expanded="false" type="button">
                                Mehr
                                <span class="MainNav--icon">
                                    <!-- component: Icon -->
                                    <span class="Icon" data-name="16--menu">
                                        <svg>
                                            <use xlink:href="#16--menu">
                                            </use>
                                        </svg>
                                    </span>
                                    <!-- /component: Icon -->
                                </span>
                            </button>
                            <div class="MainNav--overlay js-MainNav--overlay" id="main-nav_overlay_uid-48">
                                <div class="MainNav--overlay--scroller">
                                    <div class="MainNav--overlay--inner">
                                        <!-- data-mainnav-index must be 0 within this placeholder container-->
                                        <div class="MainNav--sub js-MainNav--sub" data-mainnav-index="0">
                                            <ul class="MainNav--sub--list js-MainNav--overflow">
                                            </ul>
                                            <button class="js-MainNav--close FocusOnly" type="button">Menü schliessen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End: empty container for items that don't fit viewport-->
                    </ul>
                    
                </nav>
            </div><!-- /component: MainNav -->        
        </div>
    </div>
</header><!-- /component: Header -->


<main>
<!-- breadcrumb (<nav>) and sections -->
<slot />
</main>



<footer class="Footer">
    <p class="visuallyhidden" aria-level="1" role="heading">Footer</p>
    <div class="Footer--bottom">
        <h2 class="visuallyhidden">Weiterführende Links</h2>
        <div class="Footer--logos">
        
        
              <div class="Footer--logos--list">
                <!-- div if single entry, li if multiple-->
                <div class="Footer--logos--item">
                    <a class="Footer--logo" href="https://www.uzh.ch">
                        <img src="/assets/uzh_logo.svg" alt="Logo der Universität Zürich, zur Startseite">
                    </a>
                </div>
              </div>
           
        </div>
        <!-- component: FooterMeta -->
        <div class="FooterMeta">
            <div class="FooterMeta--copyright">&copy;&nbsp;2025 Universität Zürich </div>
            <nav>
                <ul class="FooterMeta--linkList">
                      <li>
                        <a class="FooterMeta--link" href="/impressum/">Impressum</a>
                      </li>
                    
                      <li>
                        <a class="FooterMeta--link" href="https://www.archiv.uzh.ch/de/contact.html">Kontakt</a>
                      </li>
                   
                   
                      <li>
                         <a class="FooterMeta--link" href="https://www.uzh.ch/de/privacy">Datenschutzerklärung</a> 
                      </li>
                </ul>
            </nav>
        </div>
        <!-- /component: FooterMeta -->
    </div>
</footer>    




<script src="https://www.uzh.ch/static/magnolia/assets/js/ui.mjs" type="module"></script>
<script src="https://www.uzh.ch/static/magnolia/assets/js/ui.js" nomodule defer></script>
<template id="template-lightbox">
    <!-- component: Lightbox -->
    <div class="Lightbox">
        <div class="Lightbox--inner"><img src="" alt="" /><button class="Lightbox--close js-Lightbox--close" type="button">
                <!-- component: Icon --><span class="Icon" data-name="lightbox-close"><svg>
                        <use xlink:href="#lightbox-close"></use>
                    </svg></span><!-- /component: Icon --><span class="visuallyhidden">Bild-Overlay schliessen</span>
            </button></div>
    </div><!-- /component: Lightbox -->
</template>
<template id="template-lightbox-video">
    <!-- component: LightboxVideo -->
    <div class="Lightbox">
        <div class="Lightbox--inner"><video src="" autoplay="autoplay" playsinline="playsinline"></video><button class="Lightbox--close js-Lightbox--close" type="button">
                <!-- component: Icon --><span class="Icon" data-name="lightbox-close"><svg>
                        <use xlink:href="#lightbox-close"></use>
                    </svg></span><!-- /component: Icon --><span class="visuallyhidden">Video-Overlay schliessen</span>
            </button></div>
    </div><!-- /component: LightboxVideo -->
</template>
<template id="main-nav-link">
    <!-- component: MainNav--link --><a class="MainNav--link js-MainNav--link" href="[%=href%]" aria-current="[%=ariaCurrent%]">[%=content%]</a><!-- /component: MainNav--link -->
</template>
<template id="main-nav-link-plain">
    <!-- component: MainNav--link --><a class="MainNav--link" href="[%=href%]" aria-current="[%=ariaCurrent%]">[%=content%]</a><!-- /component: MainNav--link -->
</template>
<template id="main-nav-button">
    <!-- component: MainNav--link --><a class="MainNav--link js-MainNav--link" role="button" href="[%=href%]" aria-current="[%=ariaCurrent%]" aria-controls="[%=ariaControls%]" aria-expanded="false">[%=content%]<span class="MainNav--icon">
            <!-- component: Icon --><span class="Icon" data-name="16--link-arrow-sm-right"><svg>
                    <use xlink:href="#16--link-arrow-sm-right"></use>
                </svg></span><!-- /component: Icon -->
        </span></a><!-- /component: MainNav--link -->
</template>
<template id="main-nav-overlay">
    <!-- component: MainNav--overlay -->
    <div class="MainNav--overlay js-MainNav--overlay" id="[%=id%]">
        <div class="MainNav--overlay--scroller">
            <div class="MainNav--overlay--inner">
                <!-- Set data-mainnav-index to the level of nesting-->
                <div class="MainNav--sub js-MainNav--sub" data-mainnav-index="1">
                    <div class="MainNav--sub--back">
                        <!-- component: Button --><button class="Button js-MainNav--back" type="button"><span class="Button--inner">Zurück</span><span class="Button--icon">
                                <!-- component: Icon --><span class="Icon" data-name="16--link-arrow-sm-right"><svg>
                                        <use xlink:href="#16--link-arrow-sm-right"></use>
                                    </svg></span><!-- /component: Icon -->
                            </span></button><!-- /component: Button -->
                    </div>
                    <div class="MainNav--sub--title">
                        <!-- component: Link --><a class="Link layout-standalone size-small" href="[%=href%]"><span class="visuallyhidden">Übersichtsseite</span>[%=text%]<span class="Link--icon">
                                <!-- component: Icon --><span class="Icon" data-name="16--link-internal"><svg>
                                        <use xlink:href="#16--link-internal"></use>
                                    </svg></span><!-- /component: Icon -->
                            </span></a><!-- /component: Link -->
                    </div>
                    <ul class="MainNav--sub--list">[%=content%]</ul><button class="js-MainNav--close FocusOnly" type="button">Menü schliessen</button>
                </div>
            </div>
        </div>
    </div><!-- /component: MainNav--overlay -->
</template>
<template id="main-nav-subitem">
    <!-- component: MainNavSubItem -->
    <!-- Button if there are nested subitems, link if there aren’t--><a class="MainNav--link js-MainNav--sublink" href="[%=href%]" aria-controls="[%=id%]" aria-expanded="false" role="button">[%=text%]<span class="MainNav--icon">
            <!-- component: Icon --><span class="Icon" data-name="16--link-arrow-sm-right"><svg>
                    <use xlink:href="#16--link-arrow-sm-right"></use>
                </svg></span><!-- /component: Icon -->
        </span></a><!-- Set data-mainnav-index to the level of nesting-->
    <div class="MainNav--sub js-MainNav--sub" id="[%=id%]" data-mainnav-index="[%=index%]">
        <div class="MainNav--sub--back">
            <!-- component: Button --><button class="Button js-MainNav--back" type="button"><span class="Button--inner">Zurück</span><span class="Button--icon">
                    <!-- component: Icon --><span class="Icon" data-name="16--link-arrow-sm-right"><svg>
                            <use xlink:href="#16--link-arrow-sm-right"></use>
                        </svg></span><!-- /component: Icon -->
                </span></button><!-- /component: Button -->
        </div>
        <div class="MainNav--sub--title">
            <!-- component: Link --><a class="Link layout-standalone size-small" href="[%=href%]" aria-current="[%=ariaCurrent%]">[%=text%]<span class="Link--icon">
                    <!-- component: Icon --><span class="Icon" data-name="16--link-internal"><svg>
                            <use xlink:href="#16--link-internal"></use>
                        </svg></span><!-- /component: Icon -->
                </span></a><!-- /component: Link -->
        </div>
        <ul class="MainNav--sub--list">[%=content%]</ul>
    </div><!-- /component: MainNavSubItem -->
</template>
<script>
    (function(url, revision) {
        function init(delayed) {
            var svgEl = document.getElementById('svgsprite');
            svgEl && svgEl.parentNode.removeChild(svgEl);

            var svg = storage.svgicons.replace('<svg ', '<svg id="svgsprite" style="display: none"');
            document.body.insertAdjacentHTML('beforeend', svg);
        }

        function fetchSprite(path, callback) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function() {
                if (httpRequest.readyState === 4 && httpRequest.status === 200 && callback) {
                    callback(httpRequest.responseText);
                }
            };
            httpRequest.open('GET', path);
            httpRequest.send();
        }

        var storage = window.localStorage || {};

        if (!storage.svgicons || storage.svgicons_revision != revision) {
            fetchSprite(url, function(data) {
                storage.svgicons = data;
                storage.svgicons_revision = revision;

                init(true);
            });
        }

        if (storage.svgicons) {
            init();
        }
    })("https://www.uzh.ch/static/magnolia/1271/assets/icons/sprite.svg", "1367e9616ccdadff992de9fb28633136");
    // Important for backend implementation: The revision (second parameter) should change whenever the svg sprite changes, e.g. you can use the modification timestamp of the svg file.
</script>



<script is:inline>
  function highlightTarget() {
    const hash = window.location.hash;
    // Prüfe, ob das Hash mit "#v-" beginnt
    if (hash && hash.startsWith('#v-')) {
      const target = document.querySelector(hash);
      if (target) {
        target.classList.add('target_highlight');
        setTimeout(() => {
          target.classList.add('fade-out');
        }, 3000);
        setTimeout(() => {
          target.classList.remove('target_highlight', 'fade-out');
        }, 4000);
      }
    }
  }

  window.addEventListener('load', highlightTarget);
  window.addEventListener('hashchange', highlightTarget);
</script>


</body>
</html>
